@tailwind base;
@tailwind components;
@tailwind utilities;


.thin-scroll::-webkit-scrollbar {
  width: 5px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 10px;
}

.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: #f97316 transparent;
}
